{% extends 'basic.html' %}
{% load static %}

{% block title %}  Home-page {% endblock title %}

{% block styleclasses %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styleclasses %}
{% block icons %}
<span><i class="fa-thin fa-house-user"></i></span>
{% endblock icons %}


{% block hero %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Manohar Bogala</h1>
    <p>I'm <span class="typed" data-typed-items="Python Coder,Coding Enthusiastic, Full-Stack Web-Designer,Full-Stack Web-Developer,good team playes"></span></p>
  </div>
</section><!-- End Hero -->

{% endblock hero %}


{% block body %}

{% for message in messages %}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>{{message}} </strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% endblock body %}

{% block scripts %} {% endblock scripts %}

