{% extends 'basic.html' %}
{% load static %}

{% block title %}  Resume {% endblock title %}
{% block scripts %} {% endblock scripts %}

{% block hero %}{% endblock hero %}


{% block body %}

    <pre>
   <h5 style="color:blue" align="center"> RESUME</h5>
    Name:BogalaManohar
    (B.TechElectronics& Communication)
    EmailID:bogalamanohar1999@gmail.com
    ContactNo:+91-9182767816
    ________________________________________________________________________________________
    <h6 style="color:blue" align="center">CareerObjective:-</h6></i>
    To obtain a position that will enable me touse my strongorganizational skills,award winning educatio albackground,
    and ability to work well with people.
    ________________________________________________________________________________________
    </pre>
    <h6 style="color:blue" align="center">AcademicQualification:-</h6></i>
    <div class="container">
        <div class="item">Course </div>
        <div class="item">Institution/university</div>
        <div class="item">Yearofcompletion</div>
        <div class="item">AcademicPercentage(%)</div>
        <div class="item">B.Tech(ECE)</div>
        <div class="item">R.S.R college</div>
        <div class="item">2017-2021</div>
        <div class="item">76.52</div>
        <div class="item">Intermediate</div>
        <div class="item">SRICHAITANYADIPBOYS</div>
        <div class="item">2015-2017</div>
        <div class="item">94.6%</div>
        <div class="item">10Th</div>
        <div class="item">SSC ZPHSHIGHSCHOOL</div>
        <div class="item">2014-2015</div>
        <div class="item">9.2(GPA)</div>
   </div>
   
        
    <pre>
    Projects:  Smart management of streetlights for energy conservation using IOT:
               The aim of the automated streetlight management system usingiot is the conservation
               of energy by redusing the electricity wastage as well as reduse the manpower

    ________________________________________________________________________________________
     <h6 style="color:blue" align="center">Analytical Skills:-</h6></i>
    ProgrammingLanguages : python and it's OOPS concepts.
    Front_endtechnology's : HTML,CSS,Bootstrap,Basics of JAVASCRIPT.
    Back_end technology : Django .
    ________________________________________________________________________________________
    <h6 style="color:blue" align="center">ExtracurricularActivities:</h6></i>
    Recently started reading books and made it as a hobby.
    Attended several technical events held in ourcollege.
    Likes travelling to new places.
    ________________________________________________________________________________________
    <h6 style="color:blue" align="center">PersonalityTraits:-</h6></i>
    Strong leadership and motivationalskills.
    Goodproblem solving skills to handle in tuff situation.
    Good in communication,written and verbal both.
    Ability to handle the team.
    Self-Motivated.
    ________________________________________________________________________________________
    <h6 style="color:blue" align="center">PersonalDetails:-</h6></i>
    Dateofbirth :01/11/1999.
    LanguagesKnown :English,Telugu.
    Father'sName :bogala.Srinivasulu
    PermanentAddress : polireddypalli(village),Chinamachunuru(post),[PIN524230]
                       Marripadu(mandal) S.P.S.R.Nellore(district)
                       Andhrapradesh(state)
    TemporaryAddress : GururajaLayout,vibhutipuraextension,
                       doddanekudi;Benglore(district);Karnataka(state)
    ________________________________________________________________________________________
    <h6 style="color:blue" align="center">Declaration:-</h6></i>
    I here by declare that all the above information is correctt best of my knowledge.
    Place: Bengalore Signature:
    Date: 10-1-2023
    [bogala.manohar]

   </pre>



{% endblock body %}


{% block styleclasses %}
<style>
    .container {
        display: grid;
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-auto-rows: 2fr;
        grid-template-columns: repeat(4, 2fr);
        grid-gap: 1rem;

    }

    .item {
      /*  height: 100px;
        width: 100px; */
        background-color: rgb(234, 142, 203);
        border: 0.5px solid black;
        padding: 0.5px 0.5px;
    }
</style>

{% endblock styleclasses %}
