{% extends 'basic.html' %}
{% load static %}

{% block title %}  Resume {% endblock title %}
{% block scripts %} {% endblock scripts %}

{% block hero %}{% endblock hero %}


{% block body %}

    <pre>
   <h5 style="color:blue" align="center"> RESUME</h5>
    Name: Bogala.Manohar
    (B.Tech Electronics & Communication)
    EmailID: bogalamanohar1999@gmail.com
    ContactNo: +91-9182767816
    ____________________________________________________________________________________________________________________________________________________
    <h6 style="color:blue" align="center">CareerObjective:-</h6></i>
    To obtain a position that will enable me touse my strongorganizational skills,award winning educatio albackground,
    and ability to work well with people.
    To be a part of an esteemed IT organization to apply my technical and analytical skills to bring more efficiency to the organization. 
    Seeking a challenging and growth-oriented position in the domain of information technology where I can apply my skills and knowledge to
    improve the quality of my work.
    ____________________________________________________________________________________________________________________________________________________
    </pre>
    <h6 style="color:blue" align="center">AcademicQualification:-</h6></i>
    <div class="container">
        <div class="item"><b>Course </b></div>
        <div class="item"><b>Institution/university</b></div>
        <div class="item"><b>Yearofcompletion</b></div>
        <div class="item"><b>AcademicPercentage(%)</b></div>
        <div class="item">B.Tech(ECE)</div>
        <div class="item">R.S.R college</div>
        <div class="item">2017-2021</div>
        <div class="item">76.52</div>
        <div class="item">Intermediate</div>
        <div class="item">SRICHAITANYADIPBOYS</div>
        <div class="item">2015-2017</div>
        <div class="item">94.6%</div>
        <div class="item">10Th</div>
        <div class="item">SSC ZPHSHIGHSCHOOL</div>
        <div class="item">2014-2015</div>
        <div class="item">9.2(GPA)</div>
   </div>
   
        
    <pre>
    engineering-Projects:  Smart management of streetlights for energy conservation using IOT:
               The aim of the automated streetlight management system usingiot is the conservation
               of energy by redusing the electricity wastage as well as reduse the manpower

    web development projects :

    i created a different types of website 1.portfolio 2.e-commerces
    where i created signup,login,logout,contact pages and login with google accounts ,two factor authentication     
    ________________________________________________________________________________________________________________________________________________
     <h6 style="color:blue" align="center">Analytical Skills:-</h6></i>
    ProgrammingLanguages : python and it's OOPS concepts.
    Front_endtechnology's : HTML,CSS,Bootstrap,Basics of JAVASCRIPT.
    Back_end technology : Django .
    ____________________________________________________________________________________________________________________________________________________
    <h6 style="color:blue" align="center">ExtracurricularActivities:</h6></i>
    Recently started reading books and made it as a hobby.
    Attended several technical events held in ourcollege.
    Likes travelling to new places.
    ____________________________________________________________________________________________________________________________________________________
    <h6 style="color:blue" align="center">PersonalityTraits:-</h6></i>
    Strong leadership and motivationalskills.
    Goodproblem solving skills to handle in tuff situation.
    Good in communication,written and verbal both.
    Ability to handle the team.
    Self-Motivated.
    ____________________________________________________________________________________________________________________________________________________
    <h6 style="color:blue" align="center">PersonalDetails:-</h6></i>
    Dateofbirth :01/11/1999.
    LanguagesKnown :English,Telugu.
    Father'sName :bogala.Srinivasulu
    PermanentAddress : polireddypalli(village),Chinamachunuru(post),[PIN524230]
                       Marripadu(mandal) S.P.S.R.Nellore(district)
                       Andhrapradesh(state)
    TemporaryAddress : GururajaLayout,vibhutipuraextension,
                       doddanekudi;Benglore(district);Karnataka(state)
    ____________________________________________________________________________________________________________________________________________________
    <h6 style="color:blue" align="center">Declaration:-</h6></i>
    I here by declare that all the above information is correctt best of my knowledge.
    Place: Bengalore Signature:
    Date: 10-1-2023
    [bogala.manohar]

   </pre>



{% endblock body %}


{% block styleclasses %}
<style>
    .container {
        display: grid;
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-auto-rows: 2fr;
        grid-template-columns: repeat(4, 2fr);
      

    }

    .item {
      /*  height: 100px;
        width: 100px; */
        background-color: rgb(234, 142, 203);
        border: 0.5px solid black;
        padding: 0.5px 0.5px;
    }
</style>

{% endblock styleclasses %}
